@font-face{
	font-family: "Conforta";
	src: url(/dashboard/fonts/conforta.ttf);
}

@font-face{
	font-family: "Conforta2";
	src: url(/dashboard/fonts/Conforta2.ttf);
}
.estilo{
	font-family: "Conforta2";
}
body{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
h1{
	color: white;
	font-size: 25px;
	padding-bottom: 50px;
	padding-top: 60px;
	font-family: "Conforta";
	font-weight: bold;

}

.formulario{
	background: rgba(243,190,190,0.3);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(122,25,35,0.3);
	color: white;
}
.formulario1{
	background: rgba(248,242,216,0.5);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(122,25,35,0.3);
	color: white;
}
.form-control{
	background: rgba(248,242,216,0.8);
	border-style: none;
	transition: 0.5s ease-in;
	outline: none;
	box-shadow: none;;
}
.form-control:focus{
	background: rgba(248,242,216,0.5);
	box-shadow: none;
	outline: none;
}
.ingresar{
	background: #FF374B;
	font-weight: bold;
	padding: 10px;
	font-size: 700!important;
	color: white;
	box-shadow: 0px 0px 20px rgba(243,190,190,0.7);
	transition: 0.3s ease-in;
}
.ingresar:hover{
	color: white;
}
.olvide{
	color: white;
	text-decoration-style: none;
	text-decoration-line: none;
}
.olvide:hover{
	color: white;
	text-decoration-style: none;
	text-decoration-line: none; ;
}
.descrip{
	color: #414141;
	font-family: "Conforta";
}