.editar{
	background-color:#FFC14C ;
}

.eliminar{
	background-color: #D95151;
}
.detalle{
	background-color: #D99751;
}
.add{
	background-color: #C5CB88;
}
.warning{
	background-color: #FFE8DA ;
}
.success{
	background-color: #F0E68C ;
}
