<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--
Victory Template
http://www.templatemo.com/tm-507-victory
-->
        <title>Nosotros</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="shortcut icon" th:href="@{/dashboard/imagenes/Tsuki.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/web/css/bootstrap-theme.min.css}">
        <link rel="stylesheet" th:href="@{/web/css/fontAwesome.css}">
        <link rel="stylesheet" th:href="@{/web/css/hero-slider.css}">
        <link rel="stylesheet" th:href="@{/web/css/owl-carousel.css}">
        <link rel="stylesheet" th:href="@{/web/css/templatemo-style.css}">


        

        <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

        <script src="/web/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand scroll-top">Tsuki</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                       <li><a th:href="@{/}"> <i class="bi bi-house-door-fill"></i> Home </a></li>
                        <li><a th:href="@{/nosotros}"> <i class="bi bi-suit-heart"></i></i> Nosotros </a></li>
                        <li><a th:href="@{/catalogo}"> <i class="bi bi-journal-bookmark-fill"></i> Catálogo </a></li>
                        <li><a th:href="@{/contacto}"> <i class="bi bi-chat-dots"></i> Contáctanos </a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>SOBRE NOSOTROS</h1>
                    <p>En esta sección, te invitamos a conocer la esencia de nuestra pastelería.</p>
                </div>
            </div>
        </div>
    </section>


    <div class="valores-box about">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="/web/img/icon1.png" height="150" alt=""/></i>
                        <h3>RESPONSABILIDAD SOCIAL</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="/web/img/icon2.png" height="150" alt=""/></i>
                        <h3>TRABAJO EN EQUIPO</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="/web/img/icon3.png" height="150" alt=""/></i>
                        <h3>PUNTUALIDAD EN ENTREGAS</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="/web/img/icon4.png" height="150" alt=""/></i>
                        <h3>AMOR Y PASIÓN EN CADA PEDIDO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="/web/img/t1.jpg" height="610" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Nuestro progreso <i class="bi bi-suit-heart"></i></h2>
                                <div id="owl-breakfast" class="owl-carousel owl-theme">
                                    <div class="item col-md-12">
                                        <div class="food-item1">
                                           <img src="/web/img/idea.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Idea emprendedora</h4>
                                                <p>Esta maravillosa aventura comenzó en el mes de agosto del 2020, cuando convertimos aquellas ganas de experimentar con nuevos hobbies, lo cual resultó en un negocio repleto de creaciones y sabores que agradaron a muchos.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item col-md-12">
                                        <div class="food-item1">
                                            <img src="/web/img/esencia.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Principal esencia</h4>
                                                <p>En el transcurso de nuestro reciente recorrido, nuestra esencia no ha cambiado: nacimos para hacer felices a nuestros clientes y ese sigue siendo nuestro diario y esforzado empeño para complacer cada detalle.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item col-md-12">
                                        <div class="food-item1">
                                            <img src="/web/img/proceso.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Proceso del éxito</h4>
                                                <p>Trabajamos con insumos frescos y de primera calidad; somos creativos e innovadores; nos encanta la perfección y seguimos con orgullo el requerimiento de nuestra clientela en cada una de nuestras tortas..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item col-md-12">
                                        <div class="food-item1">
                                            <img src="/web/img/Posicionamiento.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Posicionamiento</h4>
                                                <p>Lo más grato de todo es que Tsuki se está posicionando como una marca donde todo es posible, desde celebrar, recordar, amar y soñar, hasta experimentar una serie de emociones con cada uno de nuestros sabores.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
 

    <div class="container-fluid">
        <div class="row">
            <div class="post-entry">
                <div class="col-md-6 col-md-push-5 nopaddingbottom">
                    <div class="post-image" style="background-image: url(/web/img/mision.jpg); height: 600px "></div>
                </div>
                <div class="col-md-6 col-md-pull-5">
                    <div class="display-tc">
                        <div class="desc">
                            <h3>MISIÓN</h3>
                            <p>Pastelería Tsuki satisface las necesidades de nuestros clientes con la elaboración de tortas, postres, bocaditos, pasteles en general; brindando un servicio al cliente completo y personalizado, a precios competitivos en el mercado; manteniendo su excelente calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="container-fluid">
        <div class="row">
            <div class="post-entry">
                <div class="col-md-6 col-md-push-1 nopaddingbottom">
                    <div class="post-image" style="background-image: url(/web/img/vision.jpg); height: 600px "></div>
                </div>
                <div class="col-md-6 col-md-pull-1">
                    <div class="display-tc">
                        <div class="desc text-left">
                            <h3>VISIÓN</h3>
                            <p>Ser una empresa con un equipo de trabajo orientado a la mejora continua, con una estructura organizacional sólida y eficiente, consolidando su posición competitiva como productor y distribuidor de tortas, postres, etc.; en toda la zona centro de Lima Metropolita y a nivel nacional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <section class="sign-up">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="heading">
                       <h2>Visita nuestras redes sociales</h2>
                   </div>
               </div>
           </div>
       </div>
   </section>


   <footer>
       <div class="container">
           <div class="row">
               <div class="col-md-4">
               </div>
               <div class="col-md-4">
                   <ul class="social-icons">
                       <li><a rel="nofollow" href="https://www.facebook.com/tsuki_homemade-107558751296293" target="_parent"><i class="bi bi-facebook"></i></a></li>
                       <li><a href="https://www.instagram.com/tsuki_homemade/" target="_parent"><i class="bi bi-instagram"></i></a></li>
                       <li><a href="#"><i class="bi bi-google"></i></a></li>
                   </ul>
               </div>
               <div class="col-md-4">
                   <p>Designed by <em>Tsuki</em></p>
               </div>
           </div>
       </div>
   </footer>


   <script>window.jQuery || document.write('<script src="/web/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

   <script src="/web/js/vendor/bootstrap.min.js"></script>

   <script src="/web/js/plugins.js"></script>
   <script src="/web/js/main.js"></script>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript">
   $(document).ready(function() {
       // navigation click actions 
       $('.scroll-link').on('click', function(event){
           event.preventDefault();
           var sectionID = $(this).attr("data-id");
           scrollToID('#' + sectionID, 750);
       });
       // scroll to top action
       $('.scroll-top').on('click', function(event) {
           event.preventDefault();
           $('html, body').animate({scrollTop:0}, 'slow');         
       });
       // mobile nav toggle
       $('#nav-toggle').on('click', function (event) {
           event.preventDefault();
           $('#main-nav').toggleClass("open");
       });
   });
   // scroll function
   function scrollToID(id, speed){
       var offSet = 0;
       var targetOffset = $(id).offset().top - offSet;
       var mainNav = $('#main-nav');
       $('html,body').animate({scrollTop:targetOffset}, speed);
       if (mainNav.hasClass("open")) {
           mainNav.css("height", "1px").removeClass("in").addClass("collapse");
           mainNav.removeClass("open");
       }
   }
   if (typeof console === "undefined") {
       console = {
           log: function() { }
       };
   }
   </script>
</body>
</html>